.teamA{
    
    float: left;
    
    text-align: center;
    width: 50%;
    border-right: 1px solid;
    
    
    
}




.teamB{
   
    float: right;
    text-align: center;
   
   width: 50%;
    
}


.Reset{
    margin-top: 150%;
    width: 30%;
    margin-left: 35%;
    transform: translateX(-50);
    
    
}
#btn{
    width: 60%;
    margin: auto;
}




